$primary-color: #000;
$secondary-color: #FFA501;

@mixin media-sm {
    @media screen and (max-width: 440px) {
      @content;
    }
  }
  @mixin media-md {
    @media screen and (max-width: 900px) {
      @content;
    }
  }