@include media-sm {
    .header {
        margin-bottom: 40px;
    }
    .header__container {
        min-height: 640px;
    }
    .header__subtitle {
        font-size: 26px;
        line-height: 39px;
    }
    .present {
        margin-bottom: 40px;
    }
    .skills {
        margin-bottom: 40px;
    }
    .header-block {
        margin-bottom: 30px;
    }
    .header-block__subtitle::after {
        bottom: -10px;
    }
    .header-block__subtitle {
        font-size: 24px;
        line-height: 36px;
    }
    .page__tools {
        margin-bottom: 40px;
    }
    .tools__list {
        margin-bottom: 40px;
    }
    .portfolio {
        margin-bottom: 40px;
    }
    .price {
        margin-bottom: 40px;
    }
    .item-price__title {
        width: 130px;
    }
    .contacts__body {
        padding-left: 0;
    }
    .input-contact__items {
        justify-content: center;
    }
}

@include media-md {
    .present__container {
        flex-direction: column;
    }
    .present__body {
        margin-left: 0;
    }
    .skills__body {
        justify-content: center;
    }
    .skills__column {
        &:first-child {
            margin-bottom: 40px;
        }
    }
    .price__body {
        flex-direction: column;
        align-items: center;
    }
    .price__column {
        &:first-child {
            margin-bottom: 20px;
        }
    }
    .contacts__content {
        flex-direction: column;
        align-items: center;
    }
    .contacts__photo {
        display: none;
    }
    .input-contact__checkbox {
        display: block;
    }

}