@import 'config';

body {
    font-family: Inter;
    color: $primary-color;
}
h2 {
    margin: 0;
    font-size: 16px;
}
p {
    margin: 0;
}
.wrapper {
    min-height: 100%;
}
//* -----------------------------DECOR-TITLE-BLOCK---------------------------
.decor-title {
    margin: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $primary-color;
}

.decor-title__text {
    position: relative;
    padding-top: 8px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -12px;

        width: 36px;
        height: 36px;

        border-radius: 50%;
        background-color: $secondary-color;

        z-index: -1;
    }

    &_center {
        &::before {
            left: 50%;
            margin-left: -25%;
        }
    }
}
//* -----------------------------HEADER-BLOCK--------------------------------
.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 85px;

    &--left-position {
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

.header-block__title {}

.header-block__subtitle {
    position: relative;
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    color: $primary-color;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        bottom: -28px;
        left: calc(50% - 30px);
        border-bottom: 3px solid $secondary-color;
        width: 60px;
    }

    &--left-position {
        text-align: start;

        &::after {
            bottom: -4px;
            left: 0;
        }
    }
}
/** 
    * ! -------------------------HEADER SECTION------------------------------
*/
.header {
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
}

.header_nav {
    position: absolute;
    top: 15px;
    right: 10px;

    width: 38px;
    height: 21px;

    cursor: pointer;
}

.header__burger {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;

    width: 36px;
    height: 3px;

    background-color: $primary-color;

    &::before {
        content: '';
        position: absolute;
        top: -9px;
        right: 0;

        width: 30px;
        height: 3px;

        background-color: $primary-color;
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;

        width: 30px;
        height: 3px;

        background-color: $primary-color;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    position: relative;
    min-height: 800px;

}

.header__ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 40%;
}

.header__content {
    position: absolute;
    left: 15px;
    top: 200px;

    padding-left: 10px;

    z-index: 1;
}

.header__title {
    margin-bottom: 9px;
}

.header__subtitle {
    display: block;

    max-width: 530px;

    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: $primary-color;

    margin-bottom: 25px;
}

.header__buttons {}

.btn {
    width: 135px;
    height: 45px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: $primary-color;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &--active {
        background-color: $secondary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

}

.header__social {}

.social {
    display: flex;
    position: absolute;
    top: 380px;
    left: -120px;

    transform: rotate(-90deg);

    @media (max-width: 1300px) {
        display: none;
    }
}

.social__text {}

.social__line {

    border-top: 2px solid $primary-color;
    width: 70px;
    margin: 10px 15px 0px 15px;

}

.social__icons {
    font-size: 16px;
    line-height: 24px;
    color: $primary-color;
    font-weight: 700;

}
.social__image {
    width: 20px;
    height: 20px;
}

/** 
    * ! -------------------------PRESENT SECTION-------------------------------
*/
.page__present {}

.present {
    margin-bottom: 120px;
}

.present__container {
    max-width: 1040px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.present__image {
    max-width: 400px;
    max-height: 600px;
}

.present__photo {
    width: 100%;
    height: 100%;
}

.present__body {
    max-width: 570px;
    margin-left: 60px;
}

.present__title {
    margin-bottom: 6px;
}

.present__subtitle {
    position: relative;

    margin-bottom: 24px;
    margin-top: 0px;

    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    color: $primary-color;

    &::after {
        position: absolute;
        top: 60px;
        left: 0;
        content: '';
        width: 60px;
        height: 0px;
        border-bottom: 3px solid $secondary-color;
    }

}

.present__text {
    margin-bottom: 40px;
}

.present__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.present__item {}

.item-present {
    display: flex;
    max-width: 260px;
    margin-bottom: 20px;
}

.item-present__icon {
}

.decor-icon {
}

.decor-icon__circle {
    position: relative;

    width: 36px;
    height: 36px;
    border-radius: 50%;

    background-color: $secondary-color;
}
.decor-icon__inner {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 25px;
    height: 24px;

    transform: translate(-50%, -50%)

}
.decor-icon__image {
    width: 100%;
    height: 100%;
}

.item-present__content {
    margin-left: 20px;
}

.item-present__title {
    margin-bottom: 6px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: $primary-color;
}

.item-present__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $primary-color;
}

/** 
    * ! -------------------------SKILLS SECTION-------------------------------
*/
.page__skills {}

.skills {
    margin-bottom: 120px;
}

.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 990px;
}

.skills__header {}

.decor-title {}

.decor-title__text {}

.decor-title__text_center {}

.header-block__subtitle {}

.skills__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.skills__column {
    position: relative;
    box-sizing: border-box;
    max-width: 420px;
    border-left: 1px solid $primary-color;
    padding-left: 43px;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -8px;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        background-color: $secondary-color;
    }
}

.skills__title {
    display: block;
    margin-bottom: 45px;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

.skills__item {}

.item-skill {}

.item-skill:not(:last-child) {
    margin-bottom: 45px;
}

.item-skill__icon {
    float: left;
}

.decor-icon {}

.decor-icon__circle {}

.decor-icon__image {}

.item-skill__subtitle {
    position: relative;

    margin-left: 56px;
    margin-bottom: 12px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -98px;

        width: 42px;

        border-bottom: 1px solid $primary-color;

    }
}

.item-skill__headline {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.item-skill__achivment {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.item-skill__text {
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
}

/** 
    * ! -------------------------TOOLS SECTION-------------------------------
*/
.page__tools {
    margin-bottom: 120px;
}

.tools__container {}

.tools__header {}

.tools__list {
    display: grid;
    justify-content: center;
    gap: 13px;
    grid-template-columns: repeat(auto-fill, 270px);

    padding: 0;
    margin-bottom: 120px;
}

.tools_item {}

.item-tools {
    display: grid;
    grid-auto-flow: row;
    grid-template: 65px 56px minmax(94px, auto) / minmax(auto, 210px);
    padding: 30px;
    border: 1px solid $primary-color;

    overflow-wrap: break-word;
}

.item-tools__icon {}

.item-tools__subject {
    align-self: center;

    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.item-tools__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.tools__record {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    column-gap: 45px;
    justify-content: center;

    margin: 0;
    padding-left: 10px;
}

.tools__point {}

.point-tools {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.point-tools__title {}

.tools__percentage {}

.tools__bar {
    width: 100%;
    height: 14px;

    margin-top: 20px;

    background-color: #E8E4DE;
    border-radius: 4px;
}

.tools__progress {
    width: 100%;
    height: 14px;

    border-radius: 4px;
    background-color: $secondary-color;

    &--perc85 {
        width: 85%;
    }

    &--perc90 {
        width: 90%;
    }

    &--perc75 {
        width: 75%;
    }

    &--perc90 {
        width: 90%;
    }

    &--perc95 {
        width: 95%;
    }

}

/** 
    * ! -------------------------PORTFOLIO SECTION-------------------------------
*/
.page__portfolio {}

.portfolio {
    margin-bottom: 120px;
}

.portfolio__container {}

.portfolio__header {}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 5px;
    justify-content: center;
}

.portfolio__item {
    position: relative;
    min-height: 280px;
    min-width: 280px;
}

.portfolio__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__item--vertical-big {
    @media (min-width: 600px) {
        grid-row: span 2;
    }
}

.portfolio__item--horizontal-big {
    @media (min-width: 600px) {
        grid-column: span 2;
    }
}

/** 
    * ! -------------------------PRICE SECTION-------------------------------
*/
.page__price {}

.price {
    margin-bottom: 120px;
}

.price__container {}

.price__header {}

.price__body {
    display: flex;
    margin: 0 auto;
    max-width: 1040px;
    justify-content: space-between;
}

.price__column {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price__item {}

.item-price {
    position: relative;
    padding-left: 35px;

    max-width: 365px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.item-price__title {
    display: block;
    position: relative;
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 700;

    &:before {
        position: absolute;
        content: '';
        top: 3px;
        left: -25px;

        width: 15px;
        height: 15px;

        background-color: $secondary-color;
        border-radius: 50%;


    }
}

.item-price__value {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.item-price__text {
    display: block;

    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

/** 
    * ! -------------------------CONTACTS SECTION-------------------------------
*/

.page__contacts {}

.contacts {
    margin-bottom: 90px;
}

.contacts__container {
    max-width: 1053px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
}

.contacts__body {
    max-width: 585px;
    padding-left: 30px;
}

.contacts__photo {
    width: 400px;
    height: 600px;
}

.contacts__header {}

.contacts__icons {}

.icons-price {}

.icons-price__text {
    display: block;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 20px;
}

.icons-price__items {
    margin-bottom: 20px;
}

.icon-price__img:not(:last-child) {
    margin-right: 20px;
}

.contacts__inputs {}

.input-contact__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-contact__top-text {
    display: block;

    margin-bottom: 30px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.input-contact__form-shell {
    position: relative;
    flex: 1 1 auto;
    height: 45px;
    max-width: 280px;

    margin-bottom: 30px;

    &::before {
        display: inline-block;
        content: 'Ваше имя';
        position: absolute;
        top: -13px;
        left: 20px;

        height: 18px;

        border: 5px solid #fff;
        background-color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;

    }

    &--email {
        &::before {
            content: 'Ваша почта';
        }
    }

    &--area {
        max-width: 585px;
        width: 100%;
        height: 190px;

        &::before {
            content: 'Ваше сообщение';
        }
    }

}

.input-contact__form {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    resize: none;

    padding-left: 20px;

    border: 1px solid $primary-color;

}

.input-contact__checkbox {
    max-width: 180px;
    margin-bottom: 20px;
}

.input-contact__btn {
    min-width: 220px;
}

.input-contact__checkbox {
    display: none;
    position: relative;
    top: 0;
    left: 20px;
}

.input-contact__politicaly {
    position: absolute;
    top: 15px;
    left: -20px;
}

.input-contact__labelText {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
/** 
    * ! -------------------------ADAPTIVE-------------------------------
*/
@include media-sm {
    .header {
        margin-bottom: 40px;
    }
    .header__container {
        min-height: 640px;
    }
    .header__subtitle {
        font-size: 26px;
        line-height: 39px;
    }
    .present {
        margin-bottom: 40px;
    }
    .skills {
        margin-bottom: 40px;
    }
    .header-block {
        margin-bottom: 30px;
    }
    .header-block__subtitle::after {
        bottom: -10px;
    }
    .header-block__subtitle {
        font-size: 24px;
        line-height: 36px;
    }
    .page__tools {
        margin-bottom: 40px;
    }
    .tools__list {
        margin-bottom: 40px;
    }
    .portfolio {
        margin-bottom: 40px;
    }
    .price {
        margin-bottom: 40px;
    }
    .item-price__title {
        width: 130px;
    }
    .contacts__body {
        padding-left: 0;
    }
    .input-contact__items {
        justify-content: center;
    }
}

@include media-md {
    .present__container {
        flex-direction: column;
    }
    .present__body {
        margin-left: 0;
    }
    .skills__body {
        align-items: center;
        flex-direction: column;
    }
    .skills__column {
        &:first-child {
            margin-bottom: 40px;
        }
    }
    .price__body {
        flex-direction: column;
        align-items: center;
    }
    .price__column {
        &:first-child {
            margin-bottom: 20px;
        }
    }
    .contacts__content {
        flex-direction: column;
        align-items: center;
    }
    .contacts__photo {
        display: none;
    }
    .input-contact__checkbox {
        display: block;
    }

}